body{
  margin: 0;
  padding: 0;
  background-color: #CFD2C6 !important;
}
img{
  border-radius: 10px;
}
.hero-banner{
  margin-top: -110px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
}
.container-fluid{
  --bs-gutter-x: 0rem !important;
}
.hero_text{
  padding: 290px 10px 10px 10px;
  align-items: center;
}
.who-we-are{
  background-color: #B7BCA9;
  padding: 40px 20px 10px 20px;
}
.who-we-are .container{
  border-radius: 20px;
}
.who-we-are .container p{
  padding: 30px;
}
.footer{
  background-color: #B7BCA9;
  padding: 30px 10px 30px 10px;
}
.slider-section{
  padding: 60px 0px 60px 0px;
}
.menu-section{
  padding: 40px 0px 40px 0px;
}
.footer a{
  color: #36392D;
}
.social-media-links a {
  padding: 10px;
}